* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

h1,h2 {
    margin-bottom: 1rem;
    color: red;
}

p {
    margin-bottom: 1rem;
}

ul,ol {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

li {
    margin-bottom: .75rem;
}

